/* Google Fonts */
/* @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro); */

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  padding: 2vw;
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Monaco', monospace;  
  background-color: rgb(243, 245, 165);  
}

.topnav {
    /* top: 3vw; */
    overflow: hidden;
}
  
.topnav a {
    float: right;
    color:  rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 1vw 1.15vw; /* 14px 16px; */
    text-decoration: none;
    font-size: 1.2vw;
}
  
.topnav a:hover {
    background-color: rgba(209, 209, 209, 0.6);
    color: black;
}
  
.topnav a.active {
    background-color: #7c9c5e;
    color: white;
}

.heyimdiv {
    position: relative;
    top: 5vw;  
    width: 27em;
    margin: 0 auto;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    font-size: 2.5vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.homeimage {
    position: relative;
    top: 7vw;
    left: 6vw;
}

.homeimage img {
    max-width:22%;
    height:auto;
    display: block;
}

.aboutme {
    margin-left: 30%;
    margin-right: 10%;
    font-size: 1.15vw;
    position: absolute;               
    top: 20vw;                         /* 3 */
    /* transform: translate(0, -50%) */
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(70) 1s 1, 
             blinkTextCursor 1000ms steps(70) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 27em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color: transparent;}
}